/* Video player */
video {
  width: 100%;
  display: block;
}

.video-player {
}

.video-player-button {
  background: #f97e72;
  color: #000;
  border: none;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.075rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.3s;
}
